<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guinness.facbookparsing">

    <!-- Internet access - Allows applications to connect to the network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Incoming call handling - Allows to keep the phone from sleeping or screen from dimming -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Incoming call handling - Access to the vibration effects -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Voice/Video calling - Allows an application to record audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Voice/Video calling - Allows an application to modify global audio settings -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Voice/Video calling, photo/video messages - To access camera services -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Photo/Video messages - Allows an application to write to external storage. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Location messages - To access location services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- https://github.com/bit6/bit6-android-samples/tree/master/auth-fb/app/src/main/java/com/bit6/samples/authfb -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".User_info" />
        <activity android:name=".Contat_List"></activity>
    </application>

</manifest>